.navbar {
    overflow: hidden;
    background-color: #21445a;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #21445a;
    margin: 0; 
    padding: 0; 
}

h1 {
    text-align: center;
    background-color: #21445a;
    color: #fff;
    padding: 15px;
}

form {
    text-align: center;
    margin: 20px auto; 
    width: 80%; 
    max-width: 400px; 
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

input[type="button"] {
    background-color: #3c6e9e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="button"]:hover {
    background-color: #1c355d;
}

.error-message {
    color: red;
    display: block; /* Para que cada mensaje aparezca en una línea nueva */
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #afcdff;
}

/* Estilo personalizado para el botón de carga de archivos */
#file-upload {
    display: none; /* Oculta el botón de carga de archivos por defecto */
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #45a049;
}

/* Estilo para ocultar el input de tipo file */
#file-upload[type="file"] {
    display: none;
}